In [13]:
import pandas as pd
import numpy as np

In [31]:
a6=pd.read_csv("2022.06_행정동 단위 업종별 지역화폐 거래 데이터.csv", encoding='cp949')
a7=pd.read_csv("2022.07_행정동 단위 업종별 지역화폐 거래 데이터.csv", encoding='cp949')
a8=pd.read_csv("2022.08_행정동 단위 업종별 지역화폐 거래 데이터.csv", encoding='cp949')

In [15]:
a6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10061735 entries, 0 to 10061734
Data columns (total 13 columns):
 #   Column         Dtype
---  ------         -----
 0   strd_date      int64
 1   strd_tizn_val  int64
 2   ctpr_nm        object
 3   ccg_nm         object
 4   adn_dgnm       object
 5   adng_no        int64
 6   cardc_nm       object
 7   tpbuz_cd       int64
 8   tpbuz_nm       object
 9   bth_yr         int64
 10  sex_cd         object
 11  trns_cnt       int64
 12  ttl_trns_amt   int64
dtypes: int64(7), object(6)
memory usage: 997.9+ MB

In [16]:
a7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9756266 entries, 0 to 9756265
Data columns (total 13 columns):
 #   Column         Dtype
---  ------         -----
 0   strd_date      int64
 1   strd_tizn_val  int64
 2   ctpr_nm        object
 3   ccg_nm         object
 4   adn_dgnm       object
 5   adng_no        int64
 6   cardc_nm       object
 7   tpbuz_cd       int64
 8   tpbuz_nm       object
 9   bth_yr         int64
 10  sex_cd         object
 11  trns_cnt       int64
 12  ttl_trns_amt   int64
dtypes: int64(7), object(6)
memory usage: 967.6+ MB

In [17]:
a8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7317159 entries, 0 to 7317158
Data columns (total 13 columns):
 #   Column         Dtype
---  ------         -----
 0   strd_date      int64
 1   strd_tizn_val  int64
 2   ctpr_nm        object
 3   ccg_nm         object
 4   adn_dgnm       object
 5   adng_no        int64
 6   cardc_nm       object
 7   tpbuz_cd       int64
 8   tpbuz_nm       object
 9   bth_yr         int64
 10  sex_cd         object
 11  trns_cnt       int64
 12  ttl_trns_amt   int64
dtypes: int64(7), object(6)
memory usage: 725.7+ MB

In [6]:
a6.isnull().sum()

strd_date        0
strd_tizn_val    0
ctpr_nm          0
ccg_nm           0
adn_dgnm         0
adng_no          0
cardc_nm         0
tpbuz_cd         0
tpbuz_nm         0
bth_yr           0
sex_cd           0
trns_cnt         0
ttl_trns_amt     0
dtype: int64

In [7]:
a7.isnull().sum()

strd_date        0
strd_tizn_val    0
ctpr_nm          0
ccg_nm           0
adn_dgnm         0
adng_no          0
cardc_nm         0
tpbuz_cd         0
tpbuz_nm         0
bth_yr           0
sex_cd           0
trns_cnt         0
ttl_trns_amt     0
dtype: int64

In [8]:
a8.isnull().sum()

strd_date        0
strd_tizn_val    0
ctpr_nm          0
ccg_nm           0
adn_dgnm         0
adng_no          0
cardc_nm         0
tpbuz_cd         0
tpbuz_nm         0
bth_yr           0
sex_cd           0
trns_cnt         0
ttl_trns_amt     0
dtype: int64

In [46]:
df=pd.concat([a6,a7,a8], axis=0)

In [52]:
df

,strd_date,strd_tizn_val,ccg_nm,adn_dgnm,adng_no,cardc_nm,tpbuz_cd,tpbuz_nm,bth_yr,sex_cd,trns_cnt,ttl_trns_amt
0,2022-06-01,0,중구,대청동,21010530,코나,4010,편 의 점,1973,M,1,7350
1,2022-06-01,0,중구,중앙동,21010510,부산,4010,편 의 점,1981,F,1,3700
2,2022-06-01,0,중구,중앙동,21010510,부산,4010,편 의 점,1992,M,1,7500
3,2022-06-01,0,중구,중앙동,21010510,부산,4010,편 의 점,1995,M,1,2700
4,2022-06-01,0,중구,중앙동,21010510,코나,4010,편 의 점,1976,M,1,13900
...,...,...,...,...,...,...,...,...,...,...,...,...
7317154,2022-08-01,0,영도구,동삼1동,21040650,코나,4020,슈퍼마켓,1958,M,1,30000
7317155,2022-08-01,0,영도구,동삼1동,21040650,코나,8013,주점,1998,M,1,59600
7317156,2022-08-01,0,영도구,동삼1동,21040650,코나,8399,기타음료식품,1998,F,1,7500
7317157,2022-08-01,0,영도구,동삼1동,21040650,하나,4010,편 의 점,1971,F,2,7600
7317158,2022-08-01,0,영도구,동삼1동,21040650,하나,4010,편 의 점,2001,M,1,2200

In [48]:
df=df.astype({'strd_date' : str})

In [50]:
df['strd_date']=pd.to_datetime(df['strd_date'])

In [51]:
df=df.drop(['ctpr_nm'], axis=1)

In [54]:
df[df['adn_dgnm'])]

NameError: name 'count' is not defined

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27135160 entries, 0 to 7317158
Data columns (total 13 columns):
 #   Column         Dtype
---  ------         -----
 0   strd_date      datetime64[ns]
 1   strd_tizn_val  int64
 2   ctpr_nm        object
 3   ccg_nm         object
 4   adn_dgnm       object
 5   adng_no        int64
 6   cardc_nm       object
 7   tpbuz_cd       int64
 8   tpbuz_nm       object
 9   bth_yr         int64
 10  sex_cd         object
 11  trns_cnt       int64
 12  ttl_trns_amt   int64
dtypes: datetime64[ns](1), int64(6), object(6)
memory usage: 2.8+ GB